body, html{
    height: 95%;
    background-color: black;
}

.bg-image {
    /* The image used */
    background-image: url(./ibagens/GM.png);

    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bolder;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 10px;
    text-align: center;
}

div1>div2.scrollmenu {
    overflow: hidden;
    white-space: normal;
}

div1>div2.scrollmenu a {
    display:inline-block;
    color: white;
    text-shadow: 1px 1px 3px white;
    font-size: 20px;
    text-align: right;
    padding: 20px;
    text-decoration:none;
}

div1>div2.scrollmenu a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

h1,h2{
    text-shadow: 1px 1px 4px white;
    font-weight: bolder;
}

div3.bg-text2{
    background-color: rgba(255, 255, 255, 0.5);
    /* Fallback color */
    background-color: rgba(255, 255, 255, 0.8);
    /* Black w/opacity/see-through */
    color: black;
    font-weight: bolder;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    padding: 10px;
    text-align: center;
    
}
.rodape{
    color: white;
    text-shadow: 1px 1px 3px white;
    font-size: 20px;
    text-align: center;
    text-decoration:none;
}
div3>div4{
    text-align: center;
    position: relative;
    top: 30%;
}
div3>div4>h1{
    position: relative;
    top: -30%;
    font-size: 80px;
}

div3>div4>h2{
    position: relative;
    top: -30%;
    font-size: 40px;
    text-align: justify;
}